@charset "UTF-8";
@font-face {
  font-family: "Gaegu";
  src: url(../fonts/Gaegu-Regular.eot);
  src: local("Gaegu"),
    url(../fonts/Gaegu-Regular.woff) format("woff"),
    url(../fonts/Gaegu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Malgun";
  src: url(../fonts/malgun.eot);
  src: local("Malgun"), url(../fonts/malgun.woff) format("woff"),
    url(../fonts/malgun.ttf) format("truetype");
}
@font-face {
  font-family: "Malgunbd";
  src: url(../fonts/malgunbd.eot);
  src: local("Malgunbd"), url(../fonts/malgunbd.woff) format("woff"),
    url(../fonts/malgunbd.ttf) format("truetype");
}
@font-face {
  font-family: "ONE 모바일고딕 OTF";
  src: url(../fonts/ONE\ Mobile\ Regular.eot);
  src: local("ONE 모바일고딕 OTF"),
    url(../fonts/ONE\ Mobile\ Regular.woff) format("woff"),
    url(../fonts/ONE\ Mobile\ Regular.ttf) format("truetype");
}

/* 기본 색상 변수에 담기 */
html {
  --color-texta: #333;
  --color-textb: #fff;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Malgun", Arial, Helvetica, sans-serif;
  background: #f4f4f4 url(../img/bg.png);
  cursor: none;
}
/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--color-texta);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}
/* 마우스 오버됐을 때 커스텀 커서 스타일 */
.cursor-grow {
  transform: scale(1.2);
  background-color: var(--color-texta);
}
/* 점선이 들어갈 ::after(pseudo)요소 만들고 크기값 설정해주기*/
a:hover::after {
  width: calc(100% - 2rem);
  height: 3px;
  background-size: contain; /* 배경 이미지가 알맞게 들어가도록*/
}

/* hover된 링크의 배경 색상 정의(하얀색)
.hovered-link {
  background-color: var(--color-textb) !important;
}*/
/* a:hover::after의 svg에 배경이미지 지정!*/
.hovered-link::after {
  background-image: url("../images/mouse.png");
}

ul:after {
  display: block;
  content: "";
  clear: both;
}
a {
  color: #111;
}
img {
  vertical-align: middle;
}

h1 {
  font-family: "Gaegu", cursive;
  font-size: 9rem;
  font-weight: 100;
  letter-spacing: -15px;
  color: #111;
}

/***** header *****/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header .headerIn {
  width: 1280px;
  justify-content: space-between;
  margin: auto;
  height: 80px;
}
#header .logo {
  float: left;
  position: absolute;
  top: 20px;
}
#header .logo a {
  display: block;
  vertical-align: middle;
}
#header .logo span {
  font-size: 1.6rem;
  font-family: "Malgunbd";
  text-transform: uppercase;
}

#header .logo em {
  font-style: normal;
  color: #aaa;
}

#header nav.menu {
  float: right;
}
#header ul {
  overflow: hidden;
  margin-top: 18px;
}
#header li {
  float: left;
}
#header li a {
  display: block;
  padding: 11px 30px;
  font-size: 18px;
  color: #d8d8d8;
  font-weight: bold;
}
#header li a:hover,
#header li a.active {
  color: #000;
}
#header li a:hover.line,
#header li a.active.line {
  text-decoration: line-through;
}

.menu a.contact {
  font-weight: 700;
  padding: 0.625rem 1.25rem;
  border: 1px solid #111827;
  border-bottom-width: 4px;
  border-radius: 1.875rem;
  transition: all 0.3s ease-in-out;
  background-color: #f1f1f1;
}

#header.glass {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

/***** section *****/

section .inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

/*** s01 ***/
#s01 {
  height: 680px;
  overflow: hidden;
}

#s01 .tit {
  white-space: nowrap;
}
#s01 .tit .fir {
  position: absolute;
  margin-top: 29vh;
  width: 1280px;
  right: 0;
  opacity: 0;
  animation: left 900ms 1s forwards linear;
  z-index: 3;
}
#s01 .tit .sec {
  position: absolute;
  margin-top: 50vh;
  width: 1280px;
  right: 0;
  opacity: 0;
  animation: left 900ms 2s forwards linear;
  z-index: 6;
}

#s01 .tit .sub {
  position: absolute;
  display: table;
  right: 10%;
  margin-top: 36vh;
  opacity: 0;
  animation: show 1200ms 3s forwards linear;
}
#s01 .tit .sub > h2,
#s01 .tit .sub > div {
  display: table-cell;
  font-size: 2.7222222222222223rem;
}

#s01 .arrows {
  display: inline-block;
  width: 154px;
  height: 87px;
  content: "";
  background: url(../images/arrows.png) no-repeat 0 50%;
  background-size: 100%;
}
@keyframes left {
  0% {
    opacity: 0;
    left: -20%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#s01 .img {
  position: absolute;
  margin-top: 13vh;
  right: 0;
  width: 460px;
  height: 670px;
  z-index: 5;
  animation: right 900ms linear;
}
#s01 .img img {
  width: 100%;
}

@keyframes right {
  0% {
    opacity: 0;
    right: -20%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*** s2 ***/

#s02 {
  height: 480px;
}
.works {
  width: 100%;
}
.works .work-list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.works .item {
  width: 46.5%;
  border: 1px solid #111827;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.works .thumbail > img {
  width: 100%;
  object-fit: cover;
}

.works .desc {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 1px solid #111827;
}
.works .desc p {
  font-weight: 600;
  margin-left: 20px;
  font-size: 18px;
  font-family: "ONE 모바일고딕 OTF", sans-serif;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.works .desc span {
  margin-right: 20px;
  letter-spacing: 1.1px;
  font-size: 14px;
  text-transform: uppercase;
}
.item:hover {
  background-color: #fff;
  transform: translate(-7px, -7px);
}
.item:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  background-color: #111827;
  right: -13px;
  bottom: -13px;
  display: block;
}
.item:hover:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 100%;
  background-color: #111827;
  right: -13px;
  bottom: -13px;
  display: block;
}

/*** s3 ***/
#s03 {
  height: 480px;
}
/*** s4 ***/
#s04 {
  height: 480px;
}
#s04.line {
  border-bottom: 1px solid #aaa;
}

#s04 .thumbail {
  position: relative;
  overflow: hidden;
}
#s04 .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(10px);
  transform: scale(1.02);
}
#s04 em {
  position: absolute;
  width: 164px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

/*** s5, s6 ***/
#s05 {
  height: 380px;
  margin-top: 50px;
}
#s06 {
  height: 380px;
  margin-top: 50px;
}
#s05 .works .item,
#s06 .works .item {
  width: 30%;
  height: 30%;
}
#s05 .works .item .thumbail,
#s06 .works .item .thumbail {
  overflow: hidden;
  width: 100%;
}
#s05 .works .item .thumbail img,
#s06 .works .item .thumbail img {
  height: 17.64em;
  object-fit: cover;
  object-position: center top;
}
#s05 .title {
  text-align: center;
}
#s05 .title p {
  text-transform: uppercase;
  font-size: 4em;
  font-family: "ONE 모바일고딕 OTF", sans-serif;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1.6px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(85, 85, 85);
}
/***** footer *****/
footer {
  margin-top: 50px;
}
footer > div {
  width: 1280px;
  margin: auto;
  color: #333;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
}
footer span {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
}

footer .topBtn {
  position: relative;
  float: right;
  color: #000;
  font-weight: bold;
}
footer .topBtn span {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}
footer .topBtn span::before,
footer .topBtn span::after {
  position: absolute;
  content: "";
}
footer .topBtn span::before {
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}
footer .topBtn span::after {
  width: 2px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
footer .topBtn span:hover {
  background-color: rgba(0, 0, 0, 1);
}


/***** 상세페이지 모달 *****/

.modal.opened {
  display: block;
  transition-duration: 400ms, 0s;
}
.modal {
  display: none;
  z-index:999;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow: auto;
  cursor: default;
}
.modal_dim {
  position:fixed;
  top:0;
  left:0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
  width:100%;
  height:100%;
  transition:all .3s ease;
  background-color:rgba(0,0,0,.45)
}
.modal_container{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  margin: 20px 0;
}
.modal_body{
  position:relative;
  width:calc(100vw - 40px);
  max-width:1620px;
  height: auto;
  overflow-y: scroll;
  padding:60px 20px 20px;
  background-color:#ffff;
  border-radius:6px;
  box-shadow:0 5px 32px 0 rgba(15,15,15,.15);
  border:1px solid #c7c7c7
}

.modal_body .img-codes {
  display: block;
  width: 100%;
}

.real-code {
  padding-top: 50px;
  text-align: center;
  background-color: #faf7f4;
}
.real-code_text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.real-code_content {
  display: flex;
  justify-content: center;
}
.real-code_btn {
  display: inline-block;
  margin: 28px 0 50px;
  transform: scale(.9);
}
.btn-line {
  display: block;
  min-width: 190px;
  padding: 16px 20px;
  color: #333;
  border-radius: 4px;
  border: solid 1px #171414;
  cursor: pointer;
}
.btn-line:hover {
  color: #3e87f8;
  border: solid 1px #3e87f8;
}
.btn-line .btn-text {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}
.real-code_footer {
  width: 100%;
  color: #fff;
  padding: 16px 0;
  background-color: #141414;
}
button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: 0 0;
  cursor: pointer;
}

.modal_body .btn-modal-close{
  position:absolute;
  top:24px;
  right:24px;
  width:24px;
  height:24px;
  background-size:24px 20px;
  background-repeat:no-repeat;
  background-position:100% 0%;
  background-image:url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMSAyMCI+PHN0eWxlPi5zdDJ7ZmlsbDpub25lO3N0cm9rZTojMzMzMzMzO3N0cm9rZS13aWR0aDoxLjg7c3Ryb2tlLWxpbmVjYXA6cm91bmR9PC9zdHlsZT48Zz48cGF0aCBjbGFzcz0ic3QyIiBkPSJNMyAyLjVsMTUgMTVNMTggMi41bC0xNSAxNSIvPjwvZz48L3N2Zz4=)
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}