@charset "UTF-8";
/*** section.s1 ***/

#s01 {
  height: 820px;
  overflow: hidden;
}

.scroll-box {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: -7.5rem auto;
  background: url(../images/blurry.png) no-repeat;
  background-size: cover;
  z-index: 10;
  animation: showUp 1s 3s linear;
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle-txt {
  width: 167px;
  height: auto;
  position: absolute;
  bottom: 16px;
  left: 16px;
  animation: spin 6s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
img.arrow-down {
  transition: all 0.3s ease-in-out;
}
img.arrow-down:hover {
  transform: scale(1.4);
}

/*** section.s2 ***/
#s02 {
  height: 720px;
  overflow: hidden;
}
#s02 .aboutMe {
  display: table;
  padding-top: 100px;
}
#s02 .aboutMe > div {
  display: table-cell;
  vertical-align: middle;
}
#s02 .aboutMe .img {
  width: 40%;
  text-align: center;
}
#s02 .aboutMe .img img {
  width: 80%;
}
#s02 .aboutMe .tit {
  padding-left: 80px;
  width: 60%;
  font-size: 2em;
}
#s02 .aboutMe .tit p {
  font-family: "ONE 모바일고딕 OTF", sans-serif;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

#s02 .aboutMe .tit .yellow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6vh;
  width: 0;
  background-size: 100% 100%;
  transition: 1.7s ease-in-out 0.3s;
  background: url("../images/yellow.png") center bottom;
  background-size: contain;
  z-index: -1;
  animation-name: high;
  animation-duration: 2000ms;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;
}

@keyframes high {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#s02 .aboutMe .info {
  margin-top: 70px;
  padding-left: 80px;
  font-size: 1.2em;
  width: 100%;
  font-family: "ONE 모바일고딕 OTF", sans-serif;
}
#s02 .aboutMe .info dl {
  float: left;
  padding-right: 50px;
}
#s02 .aboutMe .info dl:last-child {
  padding-right: 0;
}

#s02 .aboutMe .info dt {
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

/*** section.s3 ***/
#s03 {
  height: 720px;
}
#s03 .skill {
  padding: 30px 0;
}
#s03 .tit {
  text-align: center;
}
#s03 p {
  position: relative;
  display: inline-block;
  font-size: 5.8em;
  font-weight: 600;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3e87f8;
}

#s03 .elementors {
  margin-top: 50px;
}
#s03 .elementors .el-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#s03 .elementors .el-container:first-child {
  margin-bottom: 200px;
}
#s03 .elementors .el-item {
  width: 96px;
}
#s03 .elementors .el-item img {
  width: 100%;
}
#s03 .elementors .el-container.sub {
  position: relative;
}
#s03 .elementors .el-container.sub::before {
  position: absolute;
  content: "and";
  color: #3e87f8;
  top: -120px;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 1px;
}

/*** section.s4 ***/
#s04 {
  height: 720px;
  overflow: hidden;
}
#s04 .inner {
  padding-top: 120px;
  position: relative;
}
#s04 .title .Text {
  margin-top: 50px;
  padding-left: 120px;
}
#s04 .title .Text span {
  display: block;
  letter-spacing: 0;
  word-spacing: -1px;
  font-size: 3.75vw;
  line-height: 1.6;
  font-weight: 600;
  animation: colorChange 3s ease infinite;
}

@keyframes colorChange {
  0% {
    color: #006cff;
  }
  25% {
    color: #60aaff;
  }
  50% {
    color: #cc91ff;
  }
  75% {
    color: #ff5583;
  }
  100% {
    color: #006cff;
  }
}
#s04 .slider {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 100%;
  z-index: -1;
}
#s04 .slide-list {
}
#s04 .slide-list .slide-item {
  display: inline-block;
}
#s04 .slide-list .slide-item img {
  overflow: hidden;
}

/*** section.s5 ***/
#s05 {
  height: 520px;
}
#s05 .inner {
  padding-top: 180px;
}
#s05 .feature {
  display: flex;
  justify-content: center;
}
#s05 .feature-title {
  position: relative;
  display: block;
  margin-right: 162px;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.76;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#s05 .feature-title::after {
  position: absolute;
  top: -50px;
  right: -50px;
  display: block;
  content: "";
  width: 1px;
  height: 410px;
  background-color: #8b8b8b;
}

#s05 .feature-list-item {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2.3;
}

#s05 .feature-btn {
  display: inline-block;
  margin-top: 47px;
  padding: 20px 30px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

#s05 .feature-btn .line {
  position: relative;
  display: inline-block;
  min-width: 70px;
  height: 1px;
  vertical-align: middle;
  margin-top: -6px;
  margin-left: 21px;
  background: #333;
}
#s05 .feature-btn .line::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: -4px;
  right: 0;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
}

/*** section.s5 ***/
#s06 {
  height: 520px;
}
#s06 .contact-wrqp {
  position: relative;
  text-align: center;
  margin-top: 220px;
}
#s06 .contact-wrqp .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../images/heart_icon.png) no-repeat center center / cover;
}

#s06 .contact-title {
  display: block;
  margin: 30px 0 70px;
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.015rem;
  font-weight: 400;
  font-family: "ONE 모바일고딕 OTF", sans-serif;
}

#s06 .contact-mail {
  display: block;
  text-align: center;
  font-size: 82px;
  font-weight: 500;
  animation: colorChange 3s ease infinite;
  transition: all 0.3s;
}
#s06 .contact-text {
  margin-top: 26px;
  font-size: 16px;
  line-height: 170%;
  font-weight: 300;
  color: #555;
  font-family: "ONE 모바일고딕 OTF", sans-serif;
}
